.place__title {
  margin: 0;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  color: #fff;
}

@media screen and (max-width: 990px) {
  .place__title {
    max-width: 330px; /*для обеспечения переноса текста заголовка Куршская коса как на макете*/
    font-size: 42px;
    line-height: 46px;
  }  
}

@media screen and (max-width: 760px) {
  .place__title {
    max-width: 90%;
    padding-bottom: 32px;
    font-size: 32px;
    line-height: 35px;
  }  
}

@media screen and (max-width: 320px) {
  .place__title {
    width: 288px;
    margin: 0 auto;
  }  
}