.lead {
  max-width: 984px;
  margin: 0 auto;
  padding-top: 56px;
}

@media screen and (max-width: 1024px) {
  .lead {
    padding-top: 48px;
  }  
}

@media screen and (max-width: 990px) {
  .lead {
    width: 100%;
  }  
}

@media screen and (max-width: 320px) {
  .lead {
    padding-top: 48px;
  }  
}