.header {
  max-width: 1184px;
  margin: 0 auto;
  padding-top: 28px;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1280px) {
  .header {
    max-width: 928px;
  }  
}

@media screen and (max-width: 720px) {
  .header {
    max-width: 720px;
  }  
}

@media screen and (max-width: 990px) {
  .header {
    width: 90%;
  }  
}

@media screen and (max-width: 320px) {
  .header {
    max-width: 288px;
    padding-top: 16px;
  }  
}