.footer__link {
  text-decoration: none;
  padding-right: 18px;
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
}

.footer__link:hover {
  opacity: .8;
}

@media screen and (max-width: 760px) {
  .footer__link {
    display: block;
    margin-top: 32px;
    padding: 0;
  }
}