.footer__copyright {
  color: #fff;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

@media screen and (max-width: 760px) {
  .footer__copyright {
    margin-top: 48px;
  }  
}

@media screen and (max-width: 320px) {
  .footer__copyright {
    line-height: 14px;
  }  
}