.cover {
  position: relative;
  max-width: 1184px;
  min-height: 740px;
  margin: 0 auto;
  background-image: url(../../images/cover-trains.jpg);
  background-size: cover;
  background-position: center;
}

@media screen and (max-width: 1279px) {
  .cover {
    max-width: 100%;
  }  
}

@media screen and (max-width: 1024px) {
  .cover {
    min-height: 640px;
  }  
}

@media screen and (max-width: 768px) {
  .cover {
    min-height: 480px;
  }  
}

@media screen and (max-width: 320px) {
  .cover {
    min-height: 200px;
  }  
}