.place__link {
  display: block;
  margin-top: 12px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.place__link:hover {
  opacity: .8;
}