.footer {
  max-width: 1184px;
  margin: 0 auto;
  padding: 92px 0 24px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media screen and (max-width: 1280px) {
  .footer {
    max-width: 928px; 
  }  
}

@media screen and (max-width: 990px) {
  .footer {
    max-width: 90%;
  }  
}

@media screen and (max-width: 768px) {
  .footer {
    max-width: 720px;
    padding-top: 88px;
  }  
}

@media screen and (max-width: 760px) {
  .footer {
    max-width: 90%;
    padding-top: 32px;
    flex-direction: column;
  }  
}

@media screen and (max-width: 320px) {
  .footer {
    max-width: 288px;
  }  
}